.button {
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #825afd;
    color: #fff;
    padding: 0 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;

    transition: filter 0.2s;
    img {
        width: 20px;
        margin-right: 8px;
    }
    &.outlined {
        background: #ffff;
        border: 1px solid #825afd;
        color: #825afd;
    }

    &:not(:disabled):hover {
        filter: brightness(0.9);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}
